.img_movie{
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.nav-link{
	color: white;
	cursor: pointer;
}

.invalid-feedback{
	display: block;
}

.user_avatar{
	color: white
}

.header-menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.dropdown{
	cursor: pointer;
	color: white
}

.dropdown-item{
	padding: 0 8px;
}

