.img_movie{
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.nav-link{
	color: white;
	cursor: pointer;
}

.invalid-feedback{
	display: block;
}

.user_avatar{
	color: white
}

.header-menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.dropdown{
	cursor: pointer;
	color: white
}

.dropdown-item{
	padding: 0 8px;
}

.move-block{
	position: relative;
}

.move-block::after{
	pointer-events: none;
	transition: ease  10s;
}

.move-block:hover:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .3);
	z-index: 4;
}

.move-link{
	display: none !important;
	cursor: pointer;
	color: white;
  text-decoration: underline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background: black;
  padding: 10px 20px;
	border-radius: 20px;
	z-index: 5;
}

.move-block:hover > .move-link{
	display: block !important;
}

.move-link:hover{
	color: white;
}

.nav-link{
	color: black !important;
}

.card-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.card-item{
	width: calc(25% - 80px);
	margin-bottom: 20px;
}

.card-img{
	width: 100%;
	height: 300px;
	display: block;
	object-fit: cover;
	background-color: gray;
}




